services:
  webapp:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "6001:6001"
    restart: always
    volumes:
      - /var/media:/app/media 
    command: >
      sh -c "mkdir -p /app/media && chmod -R 777 /app/media"